imageio==2.8.0
numpy==1.18.1
opencv-python==4.2.0.34
PyYAML==5.3.1
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.4.1
sklearn==0.0
tensorboard==1.15.0
tensorboard-plugin-wit==1.6.0
torch==1.7.0
torchaudio==0.7.0
torchfile==0.1.0
torchvision==0.6.1
